*{
padding:0;
margin:0;
}

body{
    background:white;
    height:100%;
    font-size:100%;
    font-family: 'Josefin Slab', serif;
}

.logo{
    font-size: 25px;
    margin-left: 10px;
    float: left;
    cursor:pointer;
    
}
    
.logo a{
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    }

#wrapper{
    max-width:1500px;
    margin:20px auto;
    
}
#singup {
    background: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    float:right;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

 

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
	color:white;
	font-size:14px;
    padding: 10px 15px;
    background-color: #f44336;
}
.signupbtn {
	color:white;
	font-size:14px;
    padding: 10px 15px;
    background-color: green;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.content {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #666;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.top{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background:black;
     
} 
.container{
    position: relative;
    text-align: center;
    
}
.container p{
    position: absolute;
    top:40%;
    left:50px;
    font-size: 50px;
    color: white;
}
nav{
    width: 100%;
    height: 40px;
    background: black;
}
nav li {
    float:left;
    list-style-type:none;
    width:25%;
    text-align:center;
}
nav a{
    line-height: 40px;
    text-decoration:none;
    color:#fff;
    display:block;
 }
nav a:hover{
    background:black;
    color:white;
}
.main{
    height: 700px;
    text-align: center;
    max-width: 1499px;
    max-height: 100%;
     
}
.select{  
    margin: auto;
    padding: 30px;  
    background: rgba(255,255,255, 0.8);
    float: left;
}

.reservationDate{
    margin-top: 70px;
    height: 200px;
     width: 500px;
}

.reservationDate .date{
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.row{
    display: inline;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column img{
    max-width: 25%;
}
 
 
input[type="date"] {
  width: 100px;
}

input[type="submit"]{
    color: white;
    background: green;
    padding:10px;
    border-radius: 4px;
}

input + span {
  padding-right: 30px;
}

div .dates{
    width: 900px;  
    margin-left: 40px;
}

.info{
width:100%;
margin: 10px;
}

.toOrder{
    margin:10px 20px; 
    float: right;
}


fieldset.date {
    padding-bottom: .5em;   
    border: none; 
} 

fieldset.date legend { 
    margin-top: .25em; 
    font-size: 100%; 
} 


fieldset.date label { 
  position: absolute; 
  top: -20em; 
  left: -200em; 
} 

fieldset.date select { 
margin: 0; 
padding: 0; 
font-size: 100%; 
display: inline; 
} 

  

fieldset.date select:active, 
fieldset.date select:focus, 
fieldset.date select:hover 
{ 
  border-color: gray; 
  background-color: lightyellow; 
} 
footer{
    position: relative;
    width: 100%;
    height:50px;
    line-height:50px;
    background-color:black;
    clear:both;

}
footer li{
float:left;
list-style-type:none;
margin:0 80px 0 10px;
color:white;

}
footer a{
color:white;
bottom:0;
position:absolute;
}